<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">


      <div class="row">

        <div class="col-md-3">
          <div class="product-box">
            <a href="product-detail.html">
              <img src="assets/images/products/placeholder.png" class="img-responsive">
            </a>
            <a href="product-detail.html">
              <h1>Sameh Jaidi </h1>
            </a>
            <h2>يوفى مال الجدّين وما تبقى كان صنعة الليدين </h2>
            <div class="price"></div>
            <a href="#" class="primary-btn">Add to cart</a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="product-box">
            <a href="product-detail.html">
              <img src="assets/images/products/placeholder.png" class="img-responsive">
            </a>
            <a href="product-detail.html">
              <h1>Mohamed Seddik Belhadj</h1>
            </a>
            <h2>كل اللّي تجرحوا ايعاديك الا الارض تجرحها تعطيك </h2>
            <div class="price"></div>
            <a href="#" class="primary-btn">Add to cart</a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="product-box">
            <a href="product-detail.html">
              <img src="assets/images/products/placeholder.png" class="img-responsive">
            </a>
            <a href="product-detail.html">
              <h1> Hachem Ghazoueni</h1>
            </a>
            <h2>الزغاريت أكثر من الكسكسي   </h2>
            <div class="price"></div>
            <a href="#" class="primary-btn">Add to cart</a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="product-box">
            <a href="product-detail.html">
              <img src="assets/images/products/placeholder.png" class="img-responsive">
            </a>
            <a href="product-detail.html">
              <h1> Khalil Dhaouadi</h1>
            </a>
            <h2>كيف لحمة الكرومة متاكلة ومذمومة </h2>
            <div class="price"></div>
            <a href="#" class="primary-btn">Add to cart</a>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-3">
          <div class="product-box">
            <a href="product-detail.html">
              <img src="assets/images/products/placeholder.png" class="img-responsive">
            </a>
            <a href="product-detail.html">
              <h1> Hakim Hakim</h1>
            </a>
            <h2> اللي تعملوا في الدنيا تلقاه في الاخرة </h2>
            <div class="price"></div>
            <a href="#" class="primary-btn">Add to cart</a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="product-box">
            <a href="product-detail.html">
              <img src="assets/images/products/placeholder.png" class="img-responsive">
            </a>
            <a href="product-detail.html">
              <h1> Tarak Telli</h1>
            </a>
            <h2>اخدم بقفصي وحاسب البطال </h2>
            <div class="price"></div>
            <a href="#" class="primary-btn">Add to cart</a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="product-box">
            <a href="product-detail.html">
              <img src="assets/images/products/placeholder.png" class="img-responsive">
            </a>
            <a href="product-detail.html">
              <h1>Houcine Souidi</h1>
            </a>
            <h2> البقرة كيف اتطيح تكثر اسكاكينها </h2>
            <div class="price"></div>
            <a href="#" class="primary-btn">Add to cart</a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="product-box">
            <img src="assets/images/products/placeholder.png" class="img-responsive">
            <h1>Nasreddine Nasreddine</h1>
            <h2> اللي زهروا بالمرمة يموت في سطل بغلي</h2>
            <div class="price"></div>
            <a href="#" class="primary-btn">Add to cart</a>
          </div>
        </div>
      </div>

      <div class="footer-pagination">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-3">
            <div class="items">
              <label>Item per page</label> <select>
              <option>10</option>
              <option>20</option>
              <option>30</option>
              <option>40</option>
            </select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="number">1 - 10 of 100</div>
          </div>
          <div class="col-md-1">
            <div class="arrows">
              <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
